USE [master]
GO
/****** Object:  Database [disneyAPI]    Script Date: 19/5/2023 10:39:44 ******/
CREATE DATABASE [disneyAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'disneyAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\disneyAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'disneyAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\disneyAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [disneyAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [disneyAPI]
GO
/****** Object:  User [disney]    Script Date: 19/5/2023 10:39:44 ******/
CREATE USER [disney] FOR LOGIN [disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 19/5/2023 10:39:44 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [disney]
GO
/****** Object:  Table [dbo].[pelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [nvarchar](200) NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[fechaCreado] [date] NOT NULL,
	[calificacion] [int] NOT NULL,
 CONSTRAINT [PK_pelicula] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personaje]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](200) NULL,
	[nombre] [varchar](200) NOT NULL,
	[edad] [int] NOT NULL,
	[peso] [float] NOT NULL,
	[historia] [varchar](200) NULL,
 CONSTRAINT [PK_personaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personajesxpelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personajesxpelicula](
	[idPersonaje] [int] NOT NULL,
	[idPelicula] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[pelicula] ON 

INSERT [dbo].[pelicula] ([id], [imagen], [titulo], [fechaCreado], [calificacion]) VALUES (1, N'http://dummyimage.com/172x100.png/ff4444/ffffff', N'Desert Rats, The', CAST(N'2023-04-16' AS Date), 2)
INSERT [dbo].[pelicula] ([id], [imagen], [titulo], [fechaCreado], [calificacion]) VALUES (2, N'http://dummyimage.com/136x100.png/ff4444/ffffff', N'Unspeakable Acts ', CAST(N'2023-01-12' AS Date), 2)
INSERT [dbo].[pelicula] ([id], [imagen], [titulo], [fechaCreado], [calificacion]) VALUES (3, N'http://dummyimage.com/195x100.png/cc0000/ffffff', N'Star Maps', CAST(N'2023-03-18' AS Date), 5)
GO
SET IDENTITY_INSERT [dbo].[pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[personaje] ON 

INSERT [dbo].[personaje] ([id], [imagen], [nombre], [edad], [peso], [historia]) VALUES (5, N'http://dummyimage.com/131x100.png/cc0000/ffffff', N'Kittie Flanagan', 38, 23.9, N'Nam nulla.')
INSERT [dbo].[personaje] ([id], [imagen], [nombre], [edad], [peso], [historia]) VALUES (6, N'http://dummyimage.com/227x100.png/cc0000/ffffff', N'Melba Kennewell', 70, 99.9, N'Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus. Phasellus in felis. Donec semper sapien a libero. Nam dui.')
INSERT [dbo].[personaje] ([id], [imagen], [nombre], [edad], [peso], [historia]) VALUES (21, N'http://dummyimage.com/174x100.png/ff4444/ffffff', N'Giacinta Gladdolph', 33, 2, N'Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla.')
GO
SET IDENTITY_INSERT [dbo].[personaje] OFF
GO
INSERT [dbo].[personajesxpelicula] ([idPersonaje], [idPelicula]) VALUES (129, 82)
INSERT [dbo].[personajesxpelicula] ([idPersonaje], [idPelicula]) VALUES (633, 130)
INSERT [dbo].[personajesxpelicula] ([idPersonaje], [idPelicula]) VALUES (291, 61)
GO
ALTER TABLE [dbo].[personajesxpelicula]  WITH CHECK ADD  CONSTRAINT [FK_personajesxPelicula_pelicula] FOREIGN KEY([idPelicula])
REFERENCES [dbo].[pelicula] ([id])
GO
ALTER TABLE [dbo].[personajesxpelicula] CHECK CONSTRAINT [FK_personajesxPelicula_pelicula]
GO
ALTER TABLE [dbo].[personajesxpelicula]  WITH CHECK ADD  CONSTRAINT [FK_personajesxPelicula_personaje] FOREIGN KEY([idPersonaje])
REFERENCES [dbo].[personaje] ([id])
GO
ALTER TABLE [dbo].[personajesxpelicula] CHECK CONSTRAINT [FK_personajesxPelicula_personaje]
GO
/****** Object:  StoredProcedure [dbo].[deletePelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deletePelicula]
@pId int
AS
BEGIN
DELETE FROM pelicula WHERE id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[deletePersonaje]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deletePersonaje] 
@pId int
AS
BEGIN
DELETE FROM personaje WHERE id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[getAllPelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllPelicula]
AS
BEGIN
SELECT * FROM pelicula
END
GO
/****** Object:  StoredProcedure [dbo].[getAllPersonajes]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllPersonajes]
AS
BEGIN
SELECT * FROM personaje
END
GO
/****** Object:  StoredProcedure [dbo].[getListPelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListPelicula]
AS
BEGIN
SELECT id, imagen, titulo FROM pelicula
END
GO
/****** Object:  StoredProcedure [dbo].[getListPersonaje]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getListPersonaje]
AS
BEGIN
SELECT imagen, nombre, id FROM personaje 
END
GO
/****** Object:  StoredProcedure [dbo].[getPeliculaByNombre]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPeliculaByNombre]
@pTitulo varchar(200)
AS
BEGIN
SELECT * FROM pelicula WHERE titulo = @pTitulo
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByEdad]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByEdad]
@pEdad int
AS
BEGIN
SELECT  * FROM personaje WHERE edad=@pEdad
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByIdMovie]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByIdMovie]
@pIdMovie int
AS
BEGIN
SELECT * FROM personaje WHERE id IN (SELECT idPersonaje FROM personajesxpelicula WHERE idPelicula = @pIdMovie)
END
GO
/****** Object:  StoredProcedure [dbo].[getPersonajeByNombre]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getPersonajeByNombre]
@pNombre varchar(200)
AS
BEGIN
SELECT  * FROM personaje WHERE nombre=@pNombre
END
GO
/****** Object:  StoredProcedure [dbo].[insertPelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertPelicula]
@pImagen varChar(200),
@pTitulo varChar(200),
@pFechaCreado date, 
@pCalificacion varChar(200)
AS
BEGIN
INSERT INTO pelicula(imagen, titulo, fechaCreado, calificacion) VALUES (@pImagen, @pTitulo, @pFechaCreado, @pCalificacion) 
END
GO
/****** Object:  StoredProcedure [dbo].[insertPersonaje]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insertPersonaje] 
@pImagen varChar(200),
@pNombre varChar(200),
@pEdad int, 
@pPeso float,
@pHistoria varChar(200)
AS
BEGIN
INSERT INTO personaje(imagen, nombre, edad, peso, historia) VALUES (@pImagen, @pNombre, @pEdad, @pPeso, @pHistoria)
END
GO
/****** Object:  StoredProcedure [dbo].[updatePelicula]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updatePelicula]
@pId int,
@pImagen varChar(200),
@pTitulo varChar(200),
@pFechaCreado date,
@pCalificacion varChar(200)
AS
BEGIN
UPDATE	pelicula SET imagen = @pImagen, titulo = @pTitulo, fechaCreado= @pFechaCreado, calificacion = @pCalificacion WHERE id = @pId
END
GO
/****** Object:  StoredProcedure [dbo].[updatePersonaje]    Script Date: 19/5/2023 10:39:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updatePersonaje]
@pId int,
@pImagen varChar(200),
@pNombre varChar(200),
@pEdad int, 
@pPeso float,
@pHistoria varChar(200)
AS
BEGIN
UPDATE personaje SET  imagen = @pImagen, nombre = @pNombre, edad = @pEdad, peso = @pPeso, historia =  @pHistoria WHERE id = @pId
END
GO
USE [master]
GO
